################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KofCWebsite/KofCWebSite.UI/appsettings.Development.json
*.ide
*.lock
*.dll
*.exe
*.pdb
*.bin
*.obj
/KofCData/.vs/KofCData/DesignTimeBuild
/KofCData/.vs/KofCData/v16
/KofCWebApi.Web/KofCWebApi.Web/bin/
/KofCWebApi.Web/KofCWebApi.Web/obj/
/KofCWebSite/KofCWebSite.ReCaptcha/bin/
/KofCWebSite/KofCWebSite.ReCaptcha/bin/Debug/
/KofCWebSite/KofCWebSite.ReCaptcha/bin/Release/
/KofCWebSite/KofCWebSite.ReCaptcha/obj/
/KofCWebSite/KofCWebSite.UI/bin/
/KofCWebSite/KofCWebSite.UI/bin/Debug/*.*
/KofCWebSite/KofCWebSite.UI/bin/Release/*.*
/KofCWebSite/KofCWebSite.UI/wwwroot/css/*.css
/KofCWebSite/KofCWebSite.UI/wwwroot/js/*.js
/KofCWebsite/KofCWebApi.UI/bin/
/KofCWebsite/KofCWebApi.UI/bin/Debug/
/KofCWebsite/KofCWebApi.UI/bin/Release/
/KofCWebsite/KofCWebApi.UI/obj/
/KofCWebSite/.vs/
KofCWebSite/.vs/
KofCWebSite/KofCWebSite.Core/bin/
KofCWebSite/KofCWebSite.Core/bin/Debug/
KofCWebSite/KofCWebSite.Core/bin/Release/
KofCWebSite/KofCWebSite.Core/obj/
KofCWebSite/KofCWebSite.Data/bin/
KofCWebSite/KofCWebSite.Data/bin/Debug/
KofCWebSite/KofCWebSite.Data/bin/Release/
KofCWebSite/KofCWebSite.Data/obj/
KofCWebSite/KofCWebSite.ReCaptcha/bin/
KofCWebSite/KofCWebSite.ReCaptcha/bin/Debug/
KofCWebSite/KofCWebSite.ReCaptcha/bin/Release/
KofCWebSite/KofCWebSite.ReCaptcha/obj/
KofCWebSite/KofCWebSite.UI/bin/
KofCWebSite/KofCWebSite.UI/bin/Debug/*.*
KofCWebSite/KofCWebSite.UI/bin/Release/*.*
KofCWebSite/KofCWebSite.UI/obj/
KofCWebSite/KofCWebSite.UI/wwwroot/css/*.css
KofCWebSite/KofCWebSite.UI/wwwroot/js/*.js

KofCWebSite/AccountTemplate/
