@model KofCWebSite.Core.Models.BaseViewModel
<title>@Model.Title</title>



<div class="section-header wow fadeInRight" style="visibility:hidden">
    <h2><span class="fa fa-heartbeat"></span> @Model.Title</h2>
</div>

<section id="team" class="wow fadeInUpBig" style="padding-top: 0px; margin-bottom:54px; visibility:hidden;">
    <div class="section-header">
        <div class="row">
            <div class="card-box-kofc col-lg-12 card shadow" align="center">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="member">
                                <div class="pic">
                                    <img src="~/images/team-1.jpg" />
                                </div>
                                <div class="details">
                                    <h4>Walter White</h4>
                                    <span>Council Founder</span>
                                    <div class="social">
                                        <a href="https://twitter.com/_ASTR0_W0RLD">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

