@model KofCWebSite.Core.Models.BaseViewModel
@section Styles {
    <title>@Model.Title</title>
}

<div class="section-header wow fadeInRight" style="visibility:hidden;">
    <h2><span class="fa fa-dice-four"></span> @Model.Title</h2>
</div>
<div class="row" style="margin-bottom:54px;">
    <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" align="center" style="visibility:hidden;">
        <div class="card-body">
            <figure>
                <img class="img-kofc relative-size-image" src="~/images/4Principles4Reasons.jpg" />
            </figure>
            <section class="col-lg-12 wow subtitle-section-kofc" style="visibility:hidden;">
                <h4 class="cta-title h4-kofc">
                    All the good works we do are informed by our four core principles:
                </h4>
            </section>
        </div>
    </div>
    <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
        <div class="card-body">
            <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                <h4 class="cta-title h4-kofc">
                    Charity
                </h4>
            </section>
            <p>
                Our Catholic faith teaches us to “Love thy neighbor as thyself.”
                Members of the Knights of Columbus show love for their neighbors by conducting
                food drives and donating the food to local soup kitchens and food pantries,
                by volunteering at Special Olympics, and by supporting, both spiritually and
                materially, mothers who choose life for their babies. Knights recognize that
                our mission, and our faith in God, compels us to action. There is no better way
                to experience love and compassion than by helping those in need, a call we answer every day.
            </p>
        </div>
    </div>
    <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
        <div class="card-body">
            <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                <h4 class="cta-title h4-kofc">
                    Unity
                </h4>
            </section>
            <p>
                None of us is as good as all of us. Members of the Knights of Columbus all know that
                – together – we can accomplish far more than any of us could individually. So we stick
                together…we support one another. That doesn’t mean that we always agree or that there
                is never a difference of opinion. It does mean that – as a Knight of Columbus – you can
                count on the support and encouragement of your brother Knights as you work to make life
                better in your parish and community.
            </p>
        </div>
    </div>
    <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
        <div class="card-body">
            <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                <h4 class="cta-title h4-kofc">
                    Fraterny
                </h4>
            </section>
            <p>
                Venerable Michael J. McGivney founded the Knights of Columbus,
                in large part, to provide assistance to the widows and children
                left behind when the family breadwinner died – often prematurely.
                The Order’s top-rated insurance program continues to do this today,
                as do the good works of individual Knights, who gave more than 75.6
                million service hours in 2017, illustrating how Catholics serve each
                other in fraternity and mercy.
            </p>
        </div>
    </div>
    <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
        <div class="card-body">
            <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                <h4 class="cta-title h4-kofc">
                    Patriotism
                </h4>
            </section>
            <p>
                Members of the Knights of Columbus, be they Americans, Canadians, Mexicans,
                Cubans, Filipinos, Poles, or Dominicans, are patriotic citizens. We are proud
                of our devotion to God and country, and believe in standing up for both. Whether
                it’s in public or private, the Knights remind the world that Catholics support
                their nations and are amongst the greatest citizens.
            </p>
        </div>
    </div>
</div>

