@model KofCWebSite.Core.Models.BaseViewModel
@section Styles {
    <title>@Model.Title</title>
}

<div class="section-header" style="margin-bottom:54px;">
    <h2 class="wow fadeInRight" style="visibility:hidden;"><span class="fa fa-history"></span> @Model.Title</h2>
    <div class="row">
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <p>
                    The Knights of Columbus is the world's largest Catholic fraternal service
                    organization. Founded in the United States in 1882, it is named in honor
                    of Christopher Columbus.
                </p>
                <br>
                <p>
                    There are more than 1.7 million members in 14,000 councils, with nearly 200
                    councils on college campuses. Membership is limited to "practical Catholic"
                    men aged 18 or older.
                </p>
                <br>
                <p>
                    Councils have been chartered in the United States, Canada, Mexico, the Caribbean,
                    Central America, the Philippines, Guam, Saipan, Japan, Cuba, and most recently in
                    Poland. The Knights' official junior organization, the Columbian Squires, has over
                    5,000 Circles. All the Order's ceremonials and business meetings are restricted to
                    members though all other events are open to the public. A promise not to reveal any
                    details of the ceremonials except to an equally qualified Knight is required to
                    ensure their impact and meaning for new members; an additional clause subordinates
                    the promise to that Knight's civil and religious duties.
                </p>
                <br>
                <p>
                    In the 2007 fraternal year the Order gave US$ 144,911,781 directly to charity
                    (1.1 Billion in charitable contributions in the last 10 years) and performed
                    over 68,695,768 man hours of voluntary service. For their support for the Church
                    and local communities, as well as for their philanthropic efforts, the Order often
                    refers to itself as the "strong right arm of the Church" . The Order's insurance
                    program has more than $60 billion of life insurance policies in force and holds the
                    highest insurance ratings given by A. M. Best, Standard & Poor's, and the Insurance
                    Marketplace Standards Association.
                </p>
            </div>
        </div>
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                    <h4 class="cta-title h4-kofc">
                        History and Founding
                    </h4>
                </section>
                <figure class="figure-kofc figure-right-kofc">
                    <img alt="Father McGivney" src="~/images/Father_McGivney_175.jpg" />
                    <figcaption>Fr. Michael J. McGivney,<br>founder of the Knights<br>of Columbus</figcaption>
                </figure>
                <p>
                    The Knights of Columbus was founded by an Irish-American Catholic priest,
                    The Venerable Father Michael J. McGivney in New Haven, Connecticut.
                    He gathered a group of men from St. Mary's parish for an organizational
                    meeting on October 2, 1881 and the Order was incorporated under the laws
                    of the U.S. state of Connecticut on March 29, 1882. Though the first
                    councils were all in that state, the Order spread throughout New England
                    and the United States in subsequent years.
                </p>
                <br>
                <p>
                    The primary motivation for the Order was to be a mutual benefit society.
                    As a parish priest in an immigrant community, McGivney saw what could
                    happen to a family when the breadwinner died and wanted to provide
                    insurance to care for the widows and orphans left behind. He himself had
                    to temporarily leave his seminary studies to care for his family when his
                    father died. In the late 19th century, Catholics were regularly excluded
                    from labor unions and other organizations that provided social services.
                </p>
                <br>
                <p>
                    In addition, Catholics were either barred from many of the popular fraternal
                    organizations, or, as in the case of Freemasonry, forbidden from joining by
                    the Catholic Church itself. McGivney wished to provide them an alternative.
                    He also believed that Catholicism and fraternalism were not incompatible and
                    wished to found a society that would encourage men to be proud of their
                    American-Catholic heritage.
                </p>
                <br>
                <p>
                    McGivney traveled to Boston to examine the Massachusetts Catholic Order of
                    Foresters and to Brooklyn to learn about the recently established Catholic
                    Benevolent League, both of which offered insurance benefits. He found the
                    latter to be lacking the excitement he thought was needed if his organization
                    were to compete with the secret societies of the day. He expressed an interest
                    in establishing a New Haven Court of the Foresters, but the charter of
                    Massachusetts Foresters prevented them from operating outside their Commonwealth.
                    The committee of St. Mary's parishioners McGivney had assembled then decided to
                    form a club that was entirely original.
                </p>
                <br>
                <p>
                    McGivney had originally conceived of the name "Sons of Columbus" but James T.
                    Mullen, who would become the first Supreme Knight, successfully suggested that
                    "Knights of Columbus" would better capture the ritualistic nature of the new
                    organization. The Order was founded 10 years before the 400th anniversary of
                    Columbus' arrival in the New World and in a time of renewed interest in him.
                    Columbus was a hero to many American Catholics, and the naming him as patron
                    was partly an attempt to bridge the division between the Irish-Catholic founders
                    of the Order and Catholic immigrants of other nationalities living in Connecticut.
                </p>
            </div>
        </div>
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                    <h4 class="cta-title h4-kofc">
                        Christopher Columbus is the patron and namesake of the Knights.
                    </h4>
                </section>
                <figure class="figure-kofc figure-left-kofc">
                    <img alt="Christopher Columbus" src="~/images/220px-Portrait_of_a_Man,_Said_to_be_Christopher_Columbus.png" />
                    <figcaption>Posthumous portrait of Christopher<br>Columbus by Sebastiano del Piombo,<br>1519.There are no known authentic<br>portraits of Columbus.</figcaption>
                </figure>
                <p>
                    The Connecticut Catholic ran an editorial in 1878 that illustrated the esteem
                    in which American Catholics held Columbus. "As American Catholics we do not
                    know of anyone who more deserves our grateful remembrance than the great and
                    noble man - the pious, zealous, faithful Catholic, the enterprising navigator,
                    and the large-hearted and generous sailor: Christopher Columbus."
                </p>
                <br>
                <p>
                    The name of Columbus was also partially intended as a mild rebuke to Anglo-Saxon
                    Protestant leaders, who upheld the explorer (a Catholic Genovese Italian working
                    for Catholic Spain) as an American hero, yet simultaneously sought to marginalize
                    recent Catholic immigrants. In taking Columbus as their patron, they were sending
                    the message that not only could Catholics be full members of American society,
                    but were, in fact, instrumental in its foundation.
                </p>
                <br>
                <p>
                    By the time of the first annual convention in 1884, the Order was prospering.
                    In the five councils throughout Connecticut were 459 members. Groups from other
                    states were requesting information. The Charter of 1899 included four statements
                    of purpose, including "to promote such social and intellectual intercourse among
                    its members as shall be desirable and proper, and by such lawful means as to them
                    shall seem best." The new charter showed members' desire to grow the organization
                    beyond a simple mutual benefit insurance society.
                </p>
                <br>
                <p>
                    The original insurance system devised by McGivney gave a deceased Knight's widow a
                    $1,000 death benefit. Each member was assessed $1 upon a death and when the number
                    of Knights grew beyond 1,000 the assessment decreased according to the rate of increase.
                    Each member, regardless of age, was assessed equally. As a result, younger, healthier
                    members could expect to pay more over the course of their lifetimes than those men who
                    joined when they were older. There was also a Sick Benefit Deposit for members who fell
                    ill and could not work. Each sick Knight was entitled to draw up to $5 a week for 13 weeks
                    (roughly equivalent to $125.75 in 2009 dollars). If he remained sick after that the council
                    to which he belonged regulated the sum of money given to him.
                </p>
                <br>
                <p>
                    Today there are more than 14,000 councils around the world and the Knights of Columbus is a
                    multi-billion dollar non-profit charitable organization. Knights may be seen distributing
                    Tootsie Rolls to raise funds to fight developmental disabilities, volunteering for the Special
                    Olympics and other charitable organizations, erecting pro-life billboards and "Keep Christ in
                    Christmas" signs, conducting blood drives and raising funds for disaster victims, or parading
                    at patriotic events with their bright capes, feathered chapeaux, and ceremonial swords. The
                    cause for McGivney's canonization is currently before the Congregation for the Causes of Saints
                    and a guild has been formed to promote his cause. On March 15, 2008, Pope Benedict XVI approved
                    a decree recognizing the heroic virtue of Father Michael J. McGivney, founder of the Knights of
                    Columbus. The pope's declaration significantly advances the priest's process toward sainthood
                    and gives the parish priest the distinction of "Venerable Servant of God." If his cause is
                    successful, he will be the first priest born in the United States to be canonized as a Saint.
                </p>
            </div>
        </div>
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                    <h4 class="cta-title h4-kofc">
                        Organization
                    </h4>
                </section>
                <figure class="figure-kofc figure-right-kofc">
                    <img alt="Knights of Columbus Third Degree Emblem" src="~/images/K_of_C_emblem_175.jpg" />
                    <figcaption>Knights of Columbus<br>Third Degree Emblem</figcaption>
                </figure>
                <p>
                    The Supreme Council is the governing body of the Order and is composed of elected representatives
                    from each jurisdiction. The Supreme Council acts in similar manner to shareholders at an annual
                    meeting and each year elects seven members to the Supreme Board of Directors for three year
                    terms. The twenty-one member board then chooses from its own membership the senior operating
                    officials of the Order, including the Supreme Knight.
                </p>
                <br>
                <p>
                    State Councils in each of the 50 United States, each province in Canada, and other jurisdictions
                    carved out of member countries are led by State Deputies and other officers elected at state
                    conventions. Territorial Deputies are appointed by the Supreme Knight and lead areas not yet
                    incorporated into State Councils.
                </p>
                <br>
                <p>
                    District Deputies are appointed by the Supreme Knight upon the recommendation of the State Deputy
                    and oversee several local councils, each of which is led by a Grand Knight. Other elected
                    council officers include the Deputy Grand Knight, Chancellor, Warden, Recorder, Treasurer,
                    Advocate, Guards and Trustees. A Chaplain is appointed by the Grand Knight and a Financial
                    Secretary by the Supreme Knight. Council officers are properly addressed by using the title
                    "worthy" (e.g. Worthy Grand Knight). Councils are numbered in the order in which they chartered
                    into the Order and are named by the local membership. San Salvador Council #1 was named for the
                    first island Columbus landed on in the New World.
                </p>
                <br>
                <p>
                    The title "Knight" is purely fraternal and is not the equivalent to a sovereign accolade. Therefore
                    Knights of Columbus do not rank with Chevaliers and Commanders of the Order of the Holy Sepulchre,
                    the Order of Malta, the Order of St. Gregory the Great, or members of any other historic military
                    or chivalric orders.
                </p>
            </div>
        </div>
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                    <h4 class="cta-title h4-kofc">
                        Degrees and Principles
                    </h4>
                </section>
                <p>
                    The Order is dedicated to the principles of Charity, Unity, Fraternity and Patriotism. A First
                    Degree exemplification ceremony, by which a man joins the Order, exemplifies the virtue of charity.
                    He is then said to be a First Degree Knight of Columbus and after participating the subsequent
                    degrees, each of which focuses on another virtue, rises to that status. Upon reaching the Third
                    Degree a gentleman is considered a full member. Priests do not participate directly in Degree
                    exemplifications as laymen do, but rather take the degree by observation.
                </p>
                <br>
                <p>
                    The first ritual handbook was printed in 1885 but contained only sections teaching Unity and
                    Charity. Supreme Knight Mullen, along with primary ritual author Daniel Colwell, believed
                    that the initiation ceremony should be held in three sections "in accord with the 'Trinity
                    of Virtues, Charity, Unity, and Brotherly love.'" The third section, expounding Fraternity,
                    was officially adopted in 1891.
                </p>
            </div>
        </div>
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                    <h4 class="cta-title h4-kofc">
                        Fourth Degree
                    </h4>
                </section>
                <figure class="figure-kofc figure-left-kofc">
                    <img alt="Knights of Columbus Fourth Degree Emblem" src="~/images/4th-Degree-Patch-Clr_150.jpg" />
                    <figcaption>Knights of Columbus<br>Fourth Degree Emblem</figcaption>
                </figure>
                <p>
                    The Fourth Degree is the highest degree of the order. Members of this degree are addressed
                    as "Sir Knight". The primary purpose of the Fourth Degree is to foster the spirit of patriotism
                    and to encourage active Catholic citizenship. A Knight is eligible to join the Fourth Degree
                    after six months from the date of his First Degree, providing he has completed the 2nd and
                    3rd degrees beforehand.
                </p>
                <br>
                <p>
                    Assemblies are distinct from councils and are led by a separate set of elected officers.
                    The Supreme Board of Directors appoints a Supreme Master and twenty Vice Supreme Masters
                    to govern the Fourth Degree. Each Vice Supreme Master oversees a Province which is then
                    broken up into Districts. The Supreme Master appoints District Masters to supervise
                    several assemblies.
                </p>
                <p>
                    Each assembly is led by a Navigator. Other elected assembly officers include the
                    Captain, Admiral, Pilot, Scribe, Purser, Comptroller, Sentinels and Trustees.
                    A Friar and Color Corps Commander are appointed by the Navigator. Assembly officers
                    are properly addressed by using the title "faithful" (e.g. Faithful Navigator).
                    Assemblies are numbered in the order in which they chartered into the Order and
                    are named by the local membership.
                </p>
            </div>
        </div>
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                    <h4 class="cta-title h4-kofc">
                        A Knights of Columbus Fourth Degree Chapeau
                    </h4>
                </section>
                <figure class="figure-kofc figure-right-kofc">
                    <img alt="Fourth Degree Chapeau" src="~/images/Chapeau_175.png" />
                    <figcaption>Knights of Columbus<br>Fourth Degree Chapeau</figcaption>
                </figure>
                <p>
                    Only Fourth Degree Knights may optionally purchase the full regalia and join the
                    Assembly’s Color Corps. The Color Corps is the most visible arm of the Knights
                    as they are often seen in parades and other local events wearing their colorful
                    regalia. Official dress for the Color Corps is a black tuxedo, baldric, white
                    gloves, cape and naval chapeau. Baldrics are worn from the right shoulder to
                    left hip and are color specific by nation. In the United States, Panama and the
                    Philippines, baldrics are red, white and blue. Red and white baldrics are used
                    in Canada; red, white and green in Mexico; and blue and white in Guatamala.
                    Service baldrics include a scabbard for a sword and are worn over the coat
                    while social baldrics are worn under the coat. The colors on a Fourth Degree
                    Knight's cape, and chapeau, denote the office he holds within the Degree.
                    Faithful Navigators and Past Faithful Navigators are permitted to carry a
                    white handled silver sword. Masters and Vice Supreme Masters, as well as
                    Former Masters and Former Vice Supreme Masters, are also denoted by their
                    gold swords.
                </p>
                <br>
                <p>
                    The need for a patriotic degree was first considered in 1886 and a special
                    plea was made at the National Meeting of 1899. The first Fourth Degree
                    exemplification followed in 1900 with 1,100 Knights participating at the
                    Lenox Lyceum in New York City. Today there are more than 2,500 Assemblies.
                </p>
            </div>
        </div>
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                    <h4 class="cta-title h4-kofc">
                        Knights of Colunbus Insurance Program
                    </h4>
                </section>
                <p>
                    Many early members were recent immigrants who often lived in unsanitary
                    conditions and performed hazardous jobs for poor pay. Since its founding,
                    a primary mission of the Knights of Columbus has been to protect families
                    against the financial ruin caused by the death of the breadwinner. While
                    this method originally was intended to provide a core group of people
                    who would support a widow and her children after the death of their
                    husband and father, it has expanded into much more.
                </p>
                <br>
                <p>
                    Today the Order offers a modern, professional insurance operation with
                    more than $70 billion of life insurance policies in force as of 2009.
                    Products include permanent and term life insurance as well as annuities
                    and long term care insurance. Insurance sales grew 19% in 2004, more
                    than three times the rate of industry at large. The Order holds $13
                    billion in assets and had $1.5 billion in revenue and $71 million in
                    profits in 2005. This is large enough to rank 72nd on the A.M. Best
                    list of all life insurance companies in North America and places it
                    on the Fortune 1000 list of top companies. Only three other insurers
                    in North America have received the highest ratings from both A. M.
                    Best and Standard & Poor's. The Order is certified by the Insurance
                    Marketplace Standards Association for ethical sales practices.
                </p>
            </div>
        </div>
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                    <h4 class="cta-title h4-kofc">
                        Charitable Giving
                    </h4>
                </section>
                <p>
                    Charity is the foremost principle of the Knights of Columbus.
                    In the 2005 fraternal year the Order gave $136 million directly
                    to charity and performed over 63.2 million man hours in voluntary
                    service. Endowed funds of over $54 million support a number of
                    Church related causes. A Knight's highest duty is to assist
                    the widow or orphan of a fallen brother Knight.
                </p>
                <br>
                <p>
                    The Knights have a tradition of supporting those with physical and
                    developmental disabilities. More than $382 million has been given
                    over the past three decades to groups and programs that support the
                    intellectually and physically disabled. One of the largest recipients
                    of funds in this area is the Special Olympics. In addition, the Order's
                    highest honor, the Gaudium et Spes Award, was given with its $100,000
                    honorarium to Jean Vanier, the founder of l'Arche, in 2005. L'Arche
                    is a faith-based network that provides care, in a community setting,
                    for people with severe developmental disabilities.
                </p>
                <br>
                <p>
                    The Vicarius Christi Fund has a corpus of $20 million and has earned
                    more than $35 million, since its establishment in 1981, for the Pope's
                    personal charities. The multimillion dollar Pacem in Terris Fund aids
                    the Catholic Church's efforts for peace in the Middle East. The Order
                    also has eleven separate funds totaling $18 million to assist men and
                    women who are discerning religious vocations pay tuition and other expenses.
                </p>
                <br>
                <p>
                    Days after the terrorist attacks of September 11, 2001 the Order established
                    the $1 million Heroes Fund. Immediate assistance was given to the families
                    of all full-time professional law enforcement personnel, firefighters and
                    emergency medical workers who lost their lives in the rescue and recovery
                    efforts. Orderwide, more than $10 million has been raised for Hurricane
                    Katrina relief efforts. On May 6, 2006, $3 million was disbursed to the
                    Archdiocese of New Orleans and the dioceses of Lafayette, LA, Houma-Thibodaux,
                    LA, Lake Charles, LA, Biloxi, MS and Beaumont, TX. The Order also donated
                    more than $500,000 to the Indian Ocean Tsunami of 2004 relief efforts and
                    $50,000 to help victims of Typhoon Durian in the Philippines.
                </p>
                <br>
                <figure class="figure-kofc figure-left-kofc">
                    <img alt="St. Peter's Basilica" src="~/images/Saint_Peter's_Facade_175.png" />
                    <figcaption>St. Peter's Basilica</figcaption>
                </figure>
                <p>
                    The Order funded the first renovation of the façade of St. Peter's Basilica
                    in over 350 years.
                </p>
                <br>
                <p>
                    At the 2006 American Cardinals Dinner, it was announced that the Knights would
                    be giving a gift of $8 million to The Catholic University of America. The gift
                    is to renovate Kean Hall, an unused building, and rename it McGivney Hall, after
                    Fr. McGivney. The new McGivney Hall will house the John Paul II Institute for
                    Studies on Marriage and Family, a graduate school of theology affiliated with
                    the Pontifical Lateran University in Rome as well as CUA. Supreme Knight Anderson
                    serves on CUA's board of trustees and is the vice president of the John Paul
                    II Institute. The Knights have a long history of donating to CUA.
                </p>
                <br>
                <p>
                    The Knights' Satellite Uplink Program has provided funding to broadcast a number
                    of papal events including the annual Easter and Christmas Masses, as well as the
                    World Day of Peace in Assisi, the Peace Summit in Assisi, World Youth Days, the
                    opening of the Holy Door at St. Peter's Basilica's for the Millennial Jubilee,
                    Pope John Paul II's visit to Nazareth and several other events. In missionary
                    territories the Order also pays for the satellite downlink.
                </p>
                <br>
                <p>
                    United in Charity, a general, unrestricted endowment fund, was introduced at
                    the 2004 Supreme Council meeting to support and ensure the overall long-term
                    charitable and philanthropic goals of the Order. The fund is wholly managed,
                    maintained and operated by Knights of Columbus Charities, Inc., a 501(c)(3)
                    charitable organization. Before United in Charity was formed all requests for
                    funds were met with the general funds of the Order or in combination with
                    specific appeals. Requests from the Church and organizations closely aligned
                    with the mission of the Order often far exceeded the amount available and it
                    is hoped that eventually United in Charity's earnings will be sufficient to
                    completely fund the Order's charitable priorities.
                </p>
                <br>
                <p>
                    Ever since its founding the Knights of Columbus has been involved in
                    evangelization. In 1948, the Knights started the Catholic Information
                    Service (CIS) to provide low-cost Catholic publications for the general
                    public as well as for parishes, schools, retreat houses, military
                    installations, correctional facilities, legislatures, the medical community,
                    and for individuals who request them. Since then, CIS has printed millions
                    of booklets, and thousands of people have enrolled in CIS correspondence and
                    on-line courses.
                </p>
            </div>
        </div>
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                    <h4 class="cta-title h4-kofc">
                        College Councils
                    </h4>
                </section>
                <p>
                    While most Knights of Columbus Councils are located at parishes or near
                    multiple parish communities, many men first join the Knights while in
                    college. Over 14,000 Knights are members of 200+ College Councils worldwide.
                    College Knights are full members of the Order.
                </p>
                <br>
                <p>
                    The first College Council was at The Catholic University of America, Keane
                    Council 353 (it has since moved off-campus). Today, the University of
                    Notre Dame Knights of Columbus Council 1477, founded in 1910, is the
                    longest-running college council in the country, followed by the councils
                    at St. Louis University and Benedictine College. In 1919, Mount St. Mary's
                    College and Seminary council 1965 became the first council attached to a
                    seminary, at what is now Mount St. Mary's University. In 1937, the
                    University of Illinois became the first public university with a Knights
                    of Columbus Council, The Illini Council Number 2782.
                </p>
                <br>
                <p>
                    Each September, the Supreme Council hosts a College Council Conference at their
                    headquarters in New Haven, Connecticut. Awards are given for the greatest increases
                    in membership, the best Youth, Community, Council, Family and Church activities and
                    the overall Outstanding College Council of the year. Belmont College and Benedictine
                    College lead the nation winning the most titles of Outstanding College Council. In
                    years of an international World Youth Day the Order is represented by members of the
                    College Council Conference Coordinating Committee, who travel with the diocese of the
                    Supreme Chaplain (currently Bishop William E. Lori of the Diocese of Bridgeport).
                </p>
            </div>
        </div>
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                    <h4 class="cta-title h4-kofc">
                        Columbian Squires
                    </h4>
                </section>
                <figure class="figure-kofc figure-right-kofc">
                    <img alt="Knights oc Columbus Columbian Squires Emblem" src="~/images/squires_logo_color_175.png" />
                    <figcaption>Knights of Columbus<br>Columbian Squires Emblem</figcaption>
                </figure>
                <p>
                    The Knights' official junior organization is the Columbian Squires. The international
                    fraternity for boys 10–18 has over 5,000 circles. According to Brother Barnabas McDonald,
                    F.S.C., the Squires founder, “The supreme purpose of the Columbian Squires is character
                    building.” Squires have fun and share their Catholic faith, help people in need, and enjoy
                    the company of friends in social, family, athletic, cultural, civic and spiritual activities.
                    Through their local circle, Squires work and socialize as a group of friends, elect their
                    own officers, and develop into Catholic leaders. Each Circle is supervised by a Knights of
                    Columbus Council or Assembly and has an advisory board made up of either the Grand Knight,
                    the Deputy Grand Knight and Chaplain or the Faithful Navigator, the Faithful Captain and
                    Faithful Friar. Circles are either Council based, parish based, or school based, depending
                    on the location of the circle and the Knight counselors.
                </p>
            </div>
        </div>
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                    <h4 class="cta-title h4-kofc">
                        Emblems Of The Order
                    </h4>
                </section>
                <figure class="figure-kofc figure-left-kofc">
                    <img alt="Third Degree Emblem" src="~/images/K_of_C_emblem_175.jpg" />
                    <figcaption>Third Degree Emblem</figcaption>
                </figure>
                <p>
                    The emblem of the Order dates from the second Supreme Council meeting on May 12, 1883,
                    when James T. Mullen, who was then supreme knight, designed it.
                </p>
                <br>
                <p>
                    The emblem indicates a shield mounted upon the Formée cross (having the arms narrow
                    at the center and expanding toward the ends). The shield is that associated with a
                    medieval knight. The Formée cross is the representation of a traditional artistic
                    design of the cross of Christ through which all graces of redemption were procured
                    for mankind. This then represents the Catholic spirit of the Order.
                </p>
                <br>
                <p>
                    Mounted on the shield are three objects: a fasces (a bundle of rods bound together
                    about an ax with the blade projecting) standing vertically and, crossed behind it,
                    an anchor and a dagger or short sword. The fasces from Roman days, carried before
                    magistrates as an emblem of authority, is symbolic of authority which must exist
                    in any tightly-bonded and efficiently operating organization. The anchor is the
                    mariner's symbol for Columbus, patron of the Order, while the short sword or dagger
                    was the weapon of the Knight when engaged upon an errand of mercy. Thus, the shield
                    expresses Catholic Knighthood in organized merciful action, and with the letters,
                    K of C, it proclaims this specific form of activity.
                </p>
                <br>
                <figure class="figure-kofc figure-right-kofc">
                    <img alt="Fourth Degree Emblem" src="~/images/KoC.jpg" />
                    <figcaption>Fourth Degree Emblem</figcaption>
                </figure>
                <p>
                    The triad emblem of the Fourth Degree features the dove, the cross and the globe.
                    The dove, classic symbol of the Holy Spirit and peace, is shown hovering over the
                    orb of the Earth (globe). Both are mounted on a variation of the Crusader's cross,
                    which was found on the tunics and capes of the Crusading knights who battled to regain
                    the Holy Land from the pagans. Spiritually, the sacred symbols on the emblem typify the
                    union of the Three Divine Persons in one Godhead, the most Blessed Trinity.
                </p>
                <p>
                    • The Globe -- God the Father, Creator of the Universe.
                </p>
                <p>
                    • The Cross -- God the Son, Redeemer of Mankind.
                </p>
                <p>
                    • The Dove -- God the Holy Spirit, Sanctifier of Humanity.
                </p>
                <br>
                <h4 style="font-weight:bold">The colors of the symbols are:</h4>
                <p>
                    • A blue globe with the land of the Western Hemisphere in white.
                </p>
                <p>
                    • A red cross with gold borders and gold knobs at the end of the
                    points forming the ends of the arms of the cross, also known as
                    the Isabella cross.
                </p>
                <p>
                    • A white dove.
                </p>
                <br>
                <p>
                    Red, white and blue are the colors of the flag of the country in
                    which the Knights originated. They are used to stress patriotism,
                    the basic principle of the Fourth Degree.
                </p>
            </div>
        </div>
    </div>
</div>



