@model KofCWebSite.Core.Models.BaseViewModel


<title>@Model.Title</title>

<div class="section-header wow fadeInRight" style="visibility:hidden">
    <h2><span class="fa fa-link"></span> @Model.Title</h2>
</div>

<section class="wow fadeInUpBig" style="padding-top: 0px; margin-bottom:54px; visibility:hidden;">
    <div class="section-header">
        <div class="row">
            <div class="card-box-kofc col-lg-12 card shadow" align="center">
                <div class="card-body">
                    <p align="left">K of C Supreme - <a href="https://www.kofc.org">https://www.kofc.org</a></p>
                    <br />
                    <p align="left">Virginia State Council - <a href="https://vakofc.org">https://vakofc.org</a></p>                    
                    <br />
                    <p align="left">Virginia State Council Facebook - <a href="https://www.facebook.com/KofCVa">https://www.facebook.com/KofCVa</a></p>                    
                    <br />
                    <p align="left">St. Joseph's Catholic Church - <a href="https://www.stjoechurch.net">https://www.stjoechurch.net</a></p>
                    <br />
                    <p align="left">Diocese of Richmond - <a href="https://richmonddiocese.org">https://richmonddiocese.org</a></p>                    
                    <br />
                    <p align="left">CatholiCity's Verified Catholics Links - <a href="https://www.catholicity.com/links">https://www.catholicity.com/links</a></p>                
                    <br />
                    <p align="left">Catholic Answers - <a href="https://www.catholic.com">https://www.catholic.com</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


