@model KofCWebSite.Core.Models.BaseViewModel
@section Styles {
    <title>@Model.Title</title>
}

<div class="section-header" style="margin-bottom:54px;">
    <h2 class="wow fadeInRight" style="visibility:hidden;"><span class="fa fa-handshake"></span> @Model.Title</h2>
    <div class="row">
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" align="center" style="visibility:hidden;">
            <div class="card-body">
                <p align="left">Please contact your local Parish Priest or mail, call or email:</p>
                <br>
                @*<p align="left">Grand Knight</p>*@
                <p align="left">Martinsville Council #6538</p>
                <p align="left">2481 Spruce Street</p>
                <p align="left">Martinsville, VA 24112</p>
                <p align="left">(276)-638-4779</p>
                <p align="left">office@stjoe24112.comcastbiz.net</p>
                <br>
                <p align="left">Joining must be done personally.</p>
            </div>
        </div>
    </div>
</div>


