@model KofCWebSite.Core.Models.BaseViewModel
@section Styles {
    <title>@Model.Title</title>
}

<link rel="stylesheet" type="text/css" href="~/lib/staticpagestylesheet.css" />

<div class="section-header" style="margin-bottom:54px;">
    <h2 class="wow fadeInRight" style="visibility:hidden;"><span class="fa fa-hand-holding-heart"></span> @Model.Title</h2>
    <div class="row">
        <div class="card-box-kofc col-lg-12 card shadow wow fadeInUpBig" style="visibility:hidden;">
            <div class="card-body">
                <section id="call-to-action" class="col-lg-12 wow fadeInLeft title-section-kofc" style="padding:20px;visibility:hidden;">
                    <h4 class="cta-title h4-kofc">
                        Why You Should Become a Knight
                    </h4>
                </section>
                <figure class="figure-kofc figure-left-kofc">
                    <img alt="Becoming a Knight" src="~/images/becoming-a-knight.png" style="height:100%; width:100%;" />
                </figure>
                <p>
                    In 1882, Father Michael J. McGivney gathered a small group of parishioners
                    in St. Mary’s Church in New Haven, Connecticut. His purpose was to establish
                    a group of men, united in their faith, and to provide for Catholic families
                    in times of need. This was the beginning of the Knights of Columbus.
                </p>
                <br>
                <p>
                    Guided by the principles of charity, unity, and fraternity, members of the
                    Knights of Columbus work to overcome the hardships that people face in their
                    parishes and communities. We are a growing organization — nearly 2 million
                    members — and for over 130 years, we have committed to overcome the challenges
                    of the need for food, shelter, warm clothing and financial security, as well
                    as provide aid for widows and orphans in our local communities.
                </p>
                <br>
                <p>
                    Joining your local council of the Knights of Columbus can change your life.
                    As a Knight, you have the opportunity to strengthen your parish, give back
                    to your community, grow in your faith and gain exclusive access to our
                    portfolio of top-quality insurance products to financially protect your
                    family. Councils conduct many programs that support your parish and community including:
                </p>
                <p>
                    • Various prayer and Eucharistic adoration programs
                </p>
                <p>
                    • Participating in the Coats for Kids and Food for Families programs
                </p>
                <p>
                    • Encouraging vocations to the priesthood and religious life
                </p>
                <br>
                <p>
                    But joining your local council does not mean that you need to sacrifice quality
                    time with your family. In fact, volunteering an hour here or an hour there with
                    your family can make an enormous impact in your life and in the lives of others.
                </p>
                <br>
                <p>
                    If you’re interested in helping those in need in your parish and community,
                    strengthening your parish and familial relationships, growing in your faith,
                    and gaining exclusive access to top-quality insurance protection for you and
                    your family, then joining your local Knights of Columbus council gives you the
                    way to achieve these goals.
                </p>
                <br>
                <p>
                    Membership in the Knights of Columbus is open to men 18 years of age or older
                    who are practical (that is, practicing) Catholics in union with the Holy See.
                    This means that an applicant or member accepts the teaching authority of the
                    Catholic Church on matters of faith and morals, aspires to live in accord with
                    the precepts of the Catholic Church, and is in good standing in the Catholic Church.
                </p>
            </div>
        </div>
    </div>
</div>
